
        div {
            border-style: solid;
        }

        .postagens {
            border-color: blue;
            padding: 10px;
        }

        .postagem {
            border-color: red;
            padding: 10px;
            margin: 10px;
        }